a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }

.page,
.page * {
  box-sizing: border-box;
}
.page {
  background: #000000;
  padding: 80px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  height: 1091px;
  position: relative;
}
.top-bar {
  background: #1e1e1e;
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 80px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
  overflow: hidden;
}
.image-2 {
  flex-shrink: 0;
  width: 25px;
  height: 37px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
}
.frame-427318907 {
  flex-shrink: 0;
  width: 684px;
  height: 36px;
  position: relative;
}
.container {
  width: 280px;
  height: 27px;
  position: absolute;
  left: 0px;
  top: 7px;
  object-fit: cover;
}
.navigation {
  background: #1e1e1e;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.tab {
  color: #fabb05;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.icon-buttons {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 44px;
  position: relative;
}
.cta-secondary-button {
  border-radius: 10px;
  border-style: solid;
  border-color: #fabb05;
  border-width: 2px;
  padding: 24px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 200px;
  height: 40px;
  position: relative;
  overflow: hidden;
}
.cta-text {
  color: #fabb05;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  letter-spacing: -0.04em;
  font-weight: 700;
  position: relative;
  width: 170px;
}
.products {
  padding: 60px 170px 30px 170px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 770px;
  position: relative;
  overflow: hidden;
}
.container2 {
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container3 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.title {
  color: #ffffff;
  text-align: center;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.description {
  color: #ffffff;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.frame-profesional {
  border-radius: 14px;
  border-style: solid;
  border-color: #3d3935;
  border-width: 1px;
  padding: 26px 26px 0px 26px;
  display: flex;
  flex-direction: row;
  gap: 26px;
  row-gap: 7px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-shrink: 0;
  width: 833px;
  height: 91px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.heading-3-corte {
  color: #ffffff;
  text-align: center;
  font-family: "Merriweather-Bold", sans-serif;
  font-size: 30px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  width: 780px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vector-200 {
  flex-shrink: 0;
  height: 0px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  overflow: visible;
}
.section {
  background: #2e2e2e;
  padding: 60px;
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 241px;
  position: relative;
  overflow: hidden;
}
.container4 {
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 100px;
  position: relative;
}
.title2 {
  color: #fabb05;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  width: 232px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title3 {
  color: #fabb05;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  width: 234px;
  display: flex;
  align-items: center;
  justify-content: center;
}
